{% extends 'base.html' %} 
{% block title %} - {{ page_title }} {% endblock %} 

{% load staticfiles %} 

{% block content %} 
{% load i18n %}

<hr class="featurette-divider">

<div class="row">
	<div class="col-xs-2 col-md-2">
		<div class="list-group">
			<a href="#" class="list-group-item active"> {% trans "past_games" %} </a> 
			<a href="#" class="list-group-item"> 2016 </a>
			<a href="#" class="list-group-item"> 2017 </a>
			<a href="#" class="list-group-item"> 2018 </a>
			<a href="#" class="list-group-item"> 2019 </a>
		</div>
	</div>

	<div class="col-xs-10 col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ season }}</h3>
			</div>
			<div class="panel-body">

					

<ul class="list-group">
	{% for key, game in game_dict.items %}
  <li class="list-group-item">{% trans "time" %} : {{game.date}} {{game.time}} ({% trans "address" %} : {{game.address}})
  	<div class="row">
  		<div class="col-xs-6 col-md-6">
  			{% trans "teams" %} : {{game.teams}}
  		</div>
  		<div class="col-xs-6 col-md-6">
 			{% trans "status" %} : {{game.status}}
  		</div>
  		
  		<div class="col-xs-6 col-md-6">
 			{% trans "master_referee" %} : {{game.master_referee}}
  		</div>
  		
  		<div class="col-xs-6 col-md-6">
  			{% trans "secondary_referee" %} : {{game.secondary_referee}}
  		</div>
  		<div class="col-xs-6 col-md-6">
 			{% trans "recorder" %} : {{game.recorder}}
  		</div>
  		
  		<div class="col-xs-6 col-md-6">
 			{% trans "timer" %} : {{game.timer}}
  		</div>
  	</div>
  </li>
  {% endfor %} 
</ul>

			</div>
		</div>
	</div>
</div>






{% endblock %}
