{% extends 'base.html' %} 
{% block title %} - {{ page_title }} {% endblock %} 

{% load staticfiles %} 

{% block content %} 
{% load i18n %}

<hr class="featurette-divider">

<div class="row">
	<div class="col-xs-2 col-md-2">
		<div class="list-group">
			<a href="#" class="list-group-item active"> {% trans "past_games" %} </a> 
			<a href="#" class="list-group-item"> 2016 </a>
			<a href="#" class="list-group-item"> 2017 </a>
			<a href="#" class="list-group-item"> 2018 </a>
			<a href="#" class="list-group-item"> 2019 </a>
		</div>
	</div>

	<div class="col-xs-10 col-md-10">
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					{% if game_dict %}
					{% for key, game in game_dict.items %}
					<a href="/game/{{game.album_slug}}/photo"
						class="btn btn-success navbar-btn"> {{game.name}} </a>
					{% endfor %}
					{% else %}
						<p>{% trans "no_game_album" %}</p>
					{% endif %}
				</div>
			</div>
		</nav>
	
		<div class="panel panel-default">
			{% if game_dict %}
			<div class="panel-heading">
				<h3 class="panel-title">{{game.year}} {{game.name}}</h3>
			</div>
			{% endif %}
			
			<div class="panel-body">	
			
			{% if images %}
				
				<div class="row">
					<div class="col-xs-6 col-md-12">
						<div class="thumbnail">
							<img id="detail" src="/media/{{ game.thumbnail }}" />
						</div>
					</div>
					
				{% for image in images %}	
					<div class="col-xs-6 col-md-4 car-thumb">
						<img src="/media/{{ image.image }}" class="img-responsive" alt="Responsive image" onclick="javascript:updateImage('/media/{{ image.image }}');">
					</div>
					
				{% endfor %}
				</div>
			
			{% endif %}	
			
			
			
				{% if photos %}
					{% for photo in photos %}
					<a href="/content/{{game.album_slug}}/photo"
						class="btn btn-success navbar-btn"> {{game.name}} </a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>






{% endblock %}
