{% extends 'base.html' %} 
{% block title %} - {{ page_title }} {% endblock %} 

{% block content %}

{% load i18n %}

<div class="panel">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/team/{{captain.team.name}}/players" class="btn btn-success navbar-btn"> {% trans "manage_players" %}  </a> 
				<a href="/team/player/{{captain.user_profile.user.id}}/edit"
					class="btn btn-success navbar-btn"> {% trans "manage_profile" %} </a>
					
				<a href="/content/upload"
					class="btn btn-success navbar-btn"> {% trans "upload_picture" %} </a>
					
				<p class="navbar-text">{{user_profile.user.last_name}} {{user_profile.user.first_name}} (Captain)</p>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">{% trans "manage_profile" %} </a></li>
					<li><a href="/team/{{captain.team.name}}/players">{% trans "manage_players" %} </a></li>
					<li><a href="#">{% trans "team_bookkeeping" %} </a></li>
					<li><a href="#">{% trans "team_announce" %} </a></li>
					<li><a href="#">{% trans "team_fees" %} </a></li>
					<li><a href="#">{% trans "team_schedule" %} </a></li>
				</ul>
			</div>
		</div></nav>

		<ul class="list-group">
			<li class="list-group-item">team : {{captain.team.name}}</li>
		</ul>

</div>

{% endblock %}
