{% extends 'base.html' %} 
{% block title %} - {{ page_title }} {% endblock %} 

{% block content %}

<div class="panel">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/team/{{captain.team.id}}/manage" class="btn btn-success navbar-btn"> Manage
					Players </a> 
				<a href="/team/captain/{{captain.id}}/edit"
					class="btn btn-success navbar-btn"> Edit profile </a>
				<p class="navbar-text">{{user_profile.user.last_name}} {{user_profile.user.first_name}} (Captain)</p>
			</div>
		</div>
	</nav>

		<ul class="list-group">
			<li class="list-group-item">team : {{captain.team.name}}</li>
		</ul>

</div>

{% endblock %}
