{% extends 'base.html' %} 
{% block title %} - {{ page_title }} {% endblock %} 

{% block content %}
{% load i18n %}
<div class="panel">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/team/captain/{{user_id}}"
					class="btn btn-success navbar-btn"> Back </a>
				
				<p class="navbar-text">{{user_profile.user.last_name}} {{user_profile.user.first_name}} (Captain)</p>
			</div>
		</div>
	</nav>

{% if players_dict %}
<table class="table table-bordered table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
          <th>Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

      {% for key, player in players_dict.items %}

        <tr>
          <th scope="row">{{key}}</th>
          
          <td>{{player.name}}</td>
          <td>{{player.age}}</td>
          <td>
          
          <form id="{{player.id}}" class="form-inline" method="post" action="/team/{{team_id}}/player/{{player.id}}/number">
          	{% csrf_token %}
          		<input type="text" name="number" id="inputNumber" class="form-control" size="2" value="{{player.number}}">
          		<input type="submit" name="submit" value="{% trans "submit"%}" />
          </form>
          
          
          </td>
          
          {% if player.active %}
          <td>player</td>
          {% else %}
    	  <td><a href="/team/player/{{player.id}}/approve"> Approve </a></td>
		  {% endif %}
        </tr>
       {% endfor %} 
      </tbody>
    </table>

{% else %}
    <p>There are no players.</p>
{% endif %}

</div>

{% endblock %}
