{% extends 'captain_template.html' %} 

{% block captain_content %}

<div class="panel">
{% load i18n %}

<hr class="featurette-divider">

<a href="/team/{{team_name}}/disabled_players">{% trans "disabled_players" %}</a>

{% if players_dict %}
<table class="table table-bordered table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
          <th>Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

      {% for key, player in players_dict.items %}

        <tr>
          <th scope="row">{{key}}</th>
          
          <td>{{player.name}}</td>
          <td>{{player.age}}</td>
          <td>
          
          <form id="{{player.id}}" class="form-inline" method="post" action="/team/{{team_id}}/player/{{player.id}}/number">
          	{% csrf_token %}
          		<input type="text" name="number" id="inputNumber" class="form-control" size="2" value="{{player.number}}">
          		<input type="submit" name="submit" value="{% trans "submit"%}" />
          </form>
          
          
          </td>
          
          {% if player.active %}
          <td><a href="/team/player/{{player.id}}/disable"> Disable </a></td>
          {% else %}
    	  <td><a href="/team/player/{{player.id}}/approve"> Approve </a></td>
		  {% endif %}
        </tr>
       {% endfor %} 
      </tbody>
    </table>

{% else %}
    <p>There are no players.</p>
{% endif %}

</div>

{% endblock %}
