{% extends 'base.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
  <h2>Privacy Policy</h2>
  <p>Thank you for visiting the Ontario Chinese Basketball League (OCBL) website. OCBL is committed to maintaining the privacy of our visitors in the way we collect, store and use information about them.</p>

  <h3>Links</h3>
	<p>The Ontario Chinese Basketball League web site contains links and references to other people’s work. Please be aware that the Ontario Chinese Basketball League is not responsible in any way for the privacy practices of external sites.</p>	
	
<h3>Collection of information</h3>
<p>Depending on the section of the site you are visiting, you may be asked to provide personal information, such as your name, an email address or to provide feedback. Personal information provided to Ontario Chinese Basketball League will be used only for the purpose for which it has been provided (e.g. organize seasonal games), unless you have consented for it to be used otherwise. Internet access information, including access trends and general demographic information may be collected indirectly for the purpose of evaluation.</p>
{% endblock %}



