{% extends 'base.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
  <h2>{% trans "rules" %}</h2>
  
  <h3>比赛时间</h3>
  <p>比赛分四节，每节10分钟. 中场休息10分钟， 每节之间休息两分钟。</p>
  
  <h3>参赛限制</h3>
  <ol>
  <li>25岁以上才可参加联赛，30岁以下的参赛队员在场上不得多于1位，参赛队员事先签免责声明，队长负责在联赛开始前提交名单，包括姓名和年龄，比赛前裁判在队员自愿出示ID的情况下，验证名字和年龄。不愿出示ID的，不可以参加比赛。</li>
  <li>非注册队员不能上场比赛。 注册队员以在网上显示为准</li>
  </ol>
  
  <h3>比赛纪律</h3>
  <p>绝对服从裁判的判决，如出现某队员打架，参与队员终身禁止参加联赛。如某队出现多人参与打架，或不服从组委会规定，组委会投票后可以禁止该队参加联赛。</p>
  
  <h3>比赛服装</h3>
  <ol>
  	<li>每个队伍建议配2套不同颜色的球衣，避免比赛和对手服装同色。</li>
  	<li>球衣上要有号码，方便数据统计和裁判工作。一旦号码和球员注册连在一起，这个号码在本赛季不能用在别的球员身上。</li>
  </ol>
  
  <h3>规则细节</h3>
  <ol>
    <li>执行2014年FIBA国际篮球比赛规则</li>
  	<li>进攻3秒</li>
  	<li>带球过半场有八秒限制</li>
  	<li>罚球停表</li>
  	<li>开边线球不停表。开边线球有5秒限制。</li>
  	<li>每节前5次非投篮犯规不罚球，开边线球，但记录队伍犯规次数， 同时也记录个人犯规次数，队伍犯规第6次开始罚2球。每节队伍犯规次数比赛开始前清零。个人犯规次数不清零，累计到5次下场。3分投篮犯规，如投中，罚1球，不中，罚3球。</li>
  	<li>个人技术犯规2次离场，不能坐在替补位上。技术犯规罚2球，再开前场边线球。</li>
  	<li>进攻有24秒限制， 投篮的球要碰到篮筐，球高过篮筐不算碰，碰板也不算碰框，24秒才可以重新计算。</li>
  	<li>每节每队只有一次暂停，只有教练才有资格叫暂停，暂停时间为1分钟。暂停时，比赛时间停表。非教练人员叫暂停，裁判可以根据情况作出队伍技术犯规处罚，这也算累计队伍犯规。执行2投，开边线球处罚。场上队员不能叫暂停，就算是球的持有者也不能叫暂停。比赛进行中不能叫暂停，只有死球才可以叫暂停。2个罚球或3个罚球进行中，在最后一个罚球处罚前可以叫暂停</li>
  	<li>只有在死球情况下才可以换人。换人次数不限。非死球情况下换人，可以判技术犯规。
比赛没有平局，如出现平局，加时赛5分钟一场，再平局，抛硬币决定胜负。这个胜负是抛硬币赢的队伍，加2分后，作为最终比分。</li>
<li>不允许请外援。外援定义有组委会确定。</li>

<li>不允许队员串队比赛，如有特殊，如比赛队伍不够人，经过组委会批准，可以临时加入已经注册的其他队伍人员</li>
<li>不允许罢赛，退赛</li>  	
  	<li>每节前五次犯规不罚球，只记次数。第六次开始罚球。普通犯规罚两分球。三分线投球犯规罚三次</li>
  	<li>5次team foul前，统一界外球。5次team foul后，2分球和普通其他犯规罚两个，3分球被侵犯罚3个。</li>
  </ol>

  <h3>积分排名</h3>
  <p>赢一场积3分，输0分。</p>
  
  
{% endblock %}