{% extends 'base.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
  <h2>{% trans "rules" %}</h2>
  
  <h3>比赛时间</h3>
  <p>比赛分四节，每节10分钟. 中场休息10分钟， 每节之间休息两分钟。</p>
  
  <h3>参赛限制</h3>
  <p>25岁以上才可参加联赛，30岁以下的参赛队员在场上不得多于1位，参赛队员事先签免责声明，队长负责在联赛开始前提交名单，包括姓名和年龄，比赛前裁判在队员自愿出示ID的情况下，验证名字和年龄。不愿出示ID的，不可以参加比赛。</p>
  
  <h3>比赛纪律</h3>
  <p>绝对服从裁判的判决，如出现某队员打架，参与队员终身禁止参加联赛。如某队出现多人参与打架，或不服从组委会规定，组委会投票后可以禁止该队参加联赛。</p>
  
  <h3>规则细节</h3>
  <ol>
  	<li>进攻3秒</li>
  	<li>带球过半场有八秒限制</li>
  	<li>罚球停表</li>
  	<li>每节前五次犯规不罚球，只记次数。第六次开始罚球。普通犯规罚两分球。三分线投球犯规罚三次</li>
  	<li>5次team foul前，统一界外球。5次team foul后，2分球和普通其他犯规罚两个，3分球被侵犯罚3个。</li>
  </ol>
{% endblock %}