{% extends 'base.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
  <h3>Terms</h3>
  
  <h4>No Unlawful or Prohibited Use</h4>
<p><small>
As a condition of your use of this Web site, you warrant to ocbl.ca that you will not use this Web site for any purpose that is unlawful or prohibited by these terms, conditions, and notices. If you violate any of these terms, your permission to use the Web site automatically terminates.
</small></p>

<h4>Liability Disclaimer</h4>

<p><small>You use this Web site at your own risk.  The information published on this web site may include inaccuracies or typographical errors. Changes are periodically added to the information herein. ocbl.ca  may have improvements and/or changes in this web site at any time without notice.</small></p> 
  
  {% endblock %}